<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Добро пожаловать!</h1>

    <div>
        <a th:href="@{/logout}">Выйти</a>
        <button onclick="location.href='/create'">Создать анкету</button>
        <button onclick="location.href='/profile'">Профиль</button>
    </div>

    <h2>Все анкеты</h2>

    <div th:if="${surveys.isEmpty()}">
        Анкеты отсутствуют.
    </div>

    <div th:each="survey : ${surveys}">
        <p>Название анкеты: <span th:text="${survey.name}"></span>
            <button th:onclick="'location.href=\'/survey/' + ${survey.id} + '/pass\''">Пройти</button>
        </p>
    </div>
</body>
</html>
